<div class="container-fluid">
    <div class="row">
        <div class="col col-sm px-3">
            <div class="text-left text-uppercase f-30 f-w-700 my-3">
                {{"Projects" | lang}}
            </div>
        </div>
        <div class="col-auto" *ngIf="isWorkspaceOwner">
            <button type="button" class="btn btn-primary" (click)="createProject()">
                {{'Create project'| lang}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="!!allProjects && allProjects.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{"Name" | lang}}</th>
                        <th scope="col">{{"Description" | lang}}</th>
                        <th scope="col">{{"Code" | lang}}</th>
                        <th scope="col">{{"Start date" | lang}}</th>
                        <th scope="col">{{"End date" | lang}}</th>
                        <th scope="col">{{"Project manager" | lang}}</th>
                        <th scope="col">{{"Actions" | lang}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of allProjects let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{project.name}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.code}}</td>
                        <td>{{project.startDate}}</td>
                        <td>{{project.endDate ?? ("Not set" | lang)}}</td>
                        <td>{{project.projectMgrName}}</td>
                        <td>
                            <a class="cursor-pointer" *ngIf="project.projectMgrId == getUser().id || isWorkspaceOwner">
                                <i class="fa fa-edit p-2" (click)="editProject(project)"></i>
                            </a>
                            <a class="cursor-pointer">
                                <i class="fa fa-info p-2" (click)="goToIssues(project.id)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col px-3" *ngIf="!allProjects || allProjects.length == 0">
            <div class="card">
                <div class="card-body f-20 f-w-600" style="min-height: 260px; line-height: 200px; text-align: center;">
                    {{'This workspace does not have any projects yet' | lang}}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isWorkspaceOwner">
        <div class="row">
            <div class="col-12 col-sm">
                <div class="text-left text-uppercase f-30 f-w-700 my-3">
                    {{"Invitations created by me in this workspace" | lang}}
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let invitation of invitesMeCreated">
                <div class="col-auto col-xxl-3 mb-4" *ngIf="!!invitesMeCreated && invitesMeCreated.length > 0">
                    <div class="card h-100 mb-0">
                        <div class="card-body pb-0 pr-0">
                            <div class="row">
                                <div class="col-12 pb-3">
                                    <div class="text-left text-uppercase f-22 f-w-700">
                                        {{invitation.date}}
                                    </div>
                                </div>
                                <div class="col-12 pb-2">
                                    <div class="text-left">
                                        {{invitation.workspaceName}}
                                    </div>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="mb-0">{{ "User name" | lang}}:
                                        <span class="mb-0">{{ invitation.userName }}</span>
                                    </p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="mb-0">{{ "User email" | lang}}:
                                        <span class="mb-0">{{ invitation.userEmail }}</span>
                                    </p>
                                </div>
                                <div class="col-12 pb-2">
                                    <div class="text-left">
                                        <p class="mb-0">{{ "Status" | lang}}:
                                            <span
                                                [ngClass]="{ 'c-red': invitation.requestStatus == UserStatusChangeType.UserDeclined,
                                                'c-blue': invitation.requestStatus == UserStatusChangeType.Default,
                                                'c-green': invitation.requestStatus == UserStatusChangeType.UserConfirmed}">
                                                {{ 'wspInviteStatus.' + invitation.requestStatus | lang}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="mb-0">{{ "Inviter" | lang}}:
                                        <span class="mb-0">{{ invitation.inviterName }}</span>
                                    </p>
                                </div>
                                <!-- В будущем не только директор сможет приглашать, пока скрыто -->
                                <!-- <div class="col-12 pb-2">
                                    <p class="mb-0">{{ "Workspace director" | lang}}:
                                        <span class="mb-0">{{ invitation.directorWspName }}</span>
                                    </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="col-auto mb-4">
                <div class="card h-100 mb-0" style="min-width: 200px; min-height: 200px;">
                    <div class="card-body h-100 pb-0 pr-0">
                        <div class="row h-100">
                            <div class="col d-flex flex-column flex-center">
                                <img style="width: 60px;" src="/assets/icons/plus_icon.png" type="button"
                                    class="cursor-pointer" (click)="createInvite()" draggable="false" class="mb-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>