.preloader-wrapper {
	height: 100%;
	width: 100%;
	display: block;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: rgba(139, 139, 139, 0.7);
	z-index: 1500;
	top: 0;
}

.loader-box{
    justify-content: center;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 90px;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(white 0 0);
    background:
      var(--c) left   30px top    0,
      var(--c) top    30px right  0,
      var(--c) right  30px bottom 0,
      var(--c) bottom 30px left   0;
    background-size:calc(100%/3) calc(100%/3);
    animation: 
      l29-1 .75s infinite alternate linear,
      l29-2 1.5s infinite;
  }
  @keyframes l29-1 {
   90%,100% {background-size:calc(2*100%/3) calc(100%/3),calc(100%/3) calc(2*100%/3)}
  }
  @keyframes l29-2 {
   0%,49.99% {transform:scaleX(1)}
   50%,100%  {transform:scaleX(-1)}
  }
body {
  background-color: #584E4A;
}