<div class="mx-auto">
    <div class="row mb-3 mt-3 text-center" *ngIf="showTitle">
      <div class="col text-uppercase f-22 f-w-700">{{ title | lang }}</div>
    </div>
    <div class="col">
      <div class="col">
        <div class="row mb-3 text-center text-break" [hidden]="!descriptionHTML">
          <label [innerHtml]="descriptionHTML" class="c-white f-18"></label>
        </div>
        <hr />
        <div class="row justify-content-center text-center">
          <div *ngIf="showDeclineButton" class="col mb-3">
            <button
              data-target="#modal-confirm"
              data-toggle="modal"
              class="btn btn-outline-info button-width"
              type="button"
              data-testid="confirm-decline"
              (click)="isConfirm(false)"
            >
              {{ buttonDecline | lang }}
            </button>
          </div>
          <div *ngIf="showConfirmButton" class="col mb-3">
            <button
              data-target="#modal-confirm"
              data-toggle="modal"
              class="btn btn-primary button-width"
              type="button"
              data-testid="confirm-accept"
              (click)="isConfirm(true)"
            >
              {{ buttonConfirm | lang }}
            </button>
          </div>
          <div *ngIf="showErrorButton" class="col mb-3">
            <button
              data-target="#modal-confirm"
              data-toggle="modal"
              class="btn btn-danger button-width"
              type="button"
              data-testid="confirm-error"
              (click)="isConfirm(true)"
            >
              {{ buttonError | lang }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>  
