<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm">
            <div class="text-left text-uppercase f-22 f-w-700 my-3">
                {{"My workspaces" | lang}}
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="!!allMyWorkSpaces && allMyWorkSpaces.length > 0" class="col-auto mb-4">
            <ng-container *ngFor="let workspace of allMyWorkSpaces">
                <div class="card h-100 mb-0">
                    <div class="card-body pb-0 pr-0">
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="text-left text-uppercase f-30 f-w-700">
                                    {{workspace.name}}
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="mb-1">{{ "Type of workspace" | lang}}</label>
                            </div>
                            <div class="col-12">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" 
                                    id="btnradio1" disabled autocomplete="off" 
                                    [attr.checked]="workspace.workSpaceType == WorkSpaceType.Personal ? 'checked' : null">
                                    <label class="btn btn-outline-primary" for="btnradio1">
                                        {{'workSpaceType.' + WorkSpaceType.Personal | lang}}
                                    </label>
                                    <input type="radio" class="btn-check" name="btnradio" 
                                    id="btnradio2" disabled autocomplete="off"
                                    [attr.checked]="workspace.workSpaceType == WorkSpaceType.Company ? 'checked' : null">
                                    <label class="btn btn-outline-primary" for="btnradio2">
                                        {{'workSpaceType.' + WorkSpaceType.Company | lang}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="col-auto mb-4">
            <div class="card h-100 mb-0">
                <div class="card-body pb-0 pr-0">
                    <div class="row">
                        <div class="col d-flex flex-column">
                            <img src="/assets/icons/plus_icon.png" type="button" class="cursor-pointer"
                                (click)="createWorkspace()" draggable="false" class="mb-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>