<div class="card mb-0">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col text-center">
                <h4 class="f-28">{{"Track time" | lang}}</h4>
            </div>
        </div>

        <form [formGroup]="timeTrackForm" class="form-group m-0">
            <div class="row">
                <div class="col-12 pb-3">
                    <label class="mb-1">{{ "Time spent" | lang }}</label>
                    <input type="text" class="form-control" formControlName="formTimeSpent"
                        placeholder="{{'Use the format: 2h 3m 11s' | lang}}"/>
                    <div *ngIf="elemIsInvalid(timeTrackForm.get('formTimeSpent'))" class="text text-danger mt-1">
                        {{textErrorStr(timeTrackForm.get('formTimeSpent'), timeTrackPattern) | lang}}
                    </div>
                </div>

                <div class="col-12 pb-3">
                    <label class="mb-1">{{ "Date start" | lang }}</label>
                    <div class="row">
                        <div class="col-11">
                            <input class="form-control" formControlName="formDateBegin" placeholder="yyyy-mm-dd" name="dp"
                            ngbDatepicker #d="ngbDatepicker" />
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                            type="button"></button>
                        </div>
                    </div>
                    <div *ngIf="elemIsInvalid(timeTrackForm.get('formDateBegin'))" class="text text-danger mt-1">
                        {{textErrorStr(timeTrackForm.get('formDateBegin')) | lang}}
                    </div>
                </div>
                <div class="col-12 pb-3">
                    <label class="mb-1">{{ "Comment" | lang }}</label>
                    <input type="text" class="form-control" formControlName="formComment"
                        placeholder="{{'Comment' | lang}}" />
                    <div *ngIf="elemIsInvalid(timeTrackForm.get('formComment'))" class="text text-danger mt-1">
                        {{textErrorStr(timeTrackForm.get('formComment')) | lang}}
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <button data-target="#modal-confirm" data-toggle="modal" class="btn btn-outline-info btn-soft w-100"
                    type="button" (click)="back()">
                    {{ "buttons.cancel" | lang }}
                </button>
            </div>
            <div class="col">
                <button data-target="#modal-confirm" data-toggle="modal" class="btn btn-primary btn-soft w-100"
                    type="button" (click)="createTimeTrack()">
                    {{ "buttons.save" | lang }}
                </button>
            </div>
        </div>
    </div>
</div>