<div class="auth-bg">
    <div class="authentication-box">
        <div class="card" style="max-width: 500px;">
            <div class="card-body">
                <h1 class="text-center">{{ "Register" | lang }}</h1>
                <form class="custom-form" [formGroup]="registerForm">
                    <!--ЭМЕЙЛ-->
                    <div class="form-group pt-5">
                        <input id="email-input-field" data-testid="register-email" type="email" class="form-control" formControlName="email"
                            placeholder="Email" required="" autofocus="" />
                        <div *ngIf="elemIsInvalid(registerForm.get('email'))" class="text text-danger mt-1">
                        {{ textErrorStr(registerForm.get('email'), emailPattern) | lang }}
                        </div>
                    </div>
                    <!--ПАРОЛЬ-->
                    <div class="form-group pt-3">
                        <input data-testid="register-password" placeholder="Password" [type]="'password'" class="form-control"
                            formControlName="password" />
                        <div *ngIf="elemIsInvalid(registerForm.get('password'))" class="text text-danger mt-1">
                        {{ textErrorStr(registerForm.get('password')) | lang }}
                        </div>
                    </div>
                    <!--ПОДТВЕРЖДЕНИЕ ПАРОЛЯ-->
                    <div class="form-group pt-3">
                        <input id="passwordConfirm-input-field" data-testid="register-password-confirm" class="form-control" type="password"
                            formControlName="passwordConfirm" placeholder="Password Confirmation">
                        <div *ngIf="elemIsInvalid(registerForm.get('passwordConfirm'))" class="text text-danger mt-1">
                            {{textErrorStr(registerForm.get('passwordConfirm')) | lang}}
                        </div>
                    </div>
                    <!--ФАМИЛИЯ-->
                    <div class="form-group pt-3">
                        <input id="lastname-input-field" data-testid="register-lastname" class="form-control" type="text" formControlName="lastname"
                            placeholder="Lastname">
                        <div *ngIf="elemIsInvalid(registerForm.get('lastname'))" class="text text-danger mt-1">
                            {{textErrorStr(lastname, namePattern) | lang}}
                        </div>
                    </div>
                    <!--ИМЯ-->
                    <div class="form-group pt-3">
                        <input id="firstname-input-field" data-testid="register-firstname" class="form-control" type="text" formControlName="firstname"
                            placeholder="Firstname">
                        <div *ngIf="elemIsInvalid(registerForm.get('firstname'))" class="text text-danger mt-1">
                            {{textErrorStr(firstname, namePattern) | lang}}
                        </div>
                    </div>
                    <!--СТРАНА РЕГИСТРАЦИИ-->
                    <div class="form-group pt-3">
                        <select (change)="onSelectedCountry($event.target)" data-testid="register-country" class="form-control selectpicker" 
                        id="country-input-field" data-live-search="true" [value]="selectedCountry">
                            <option *ngFor="let country of countryList" [value]="country.value">{{country.name}}</option>
                        </select>
                        <!-- <ng-select
                          class="form-control br-10"
                          [(ngModel)]="selectedCountry"
                          id="country-input-field"
                          formControlName="country"
                          placeholder="Country of registration"
                        >
                          <ng-option *ngFor="let country of countryList" class="br-10"
                            [value]="country.value">{{ country.name }}
                          </ng-option>
                        </ng-select> -->
                        <div *ngIf="elemIsInvalid(registerForm.get('country'))" class="text text-danger mt-1">
                            {{textErrorStr(country, namePattern) | lang}}
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <button id="login-button" data-testid="register-submit" class="btn btn-primary w-100" (click)="register()">
                            {{"Register" | lang}}
                        </button>
                    </div>
                    <div class="pt-3 text-center">
                        {{"Already have an account" | lang}}?
                        <a href="javascript:void(0)" routerLink="/login">{{"Sign In" | lang}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
