<div class="container-fluid">
    <div class="row" *ngIf="!!activeTimeTrack">
        <div class="col-12 px-3">
            <div class="text-left text-uppercase f-30 f-w-700 my-3">
                {{"Active time track" | lang}}
            </div>
        </div>
        <div class="col-auto mb-4">
            <div class="card h-100 mb-0">
                <div class="card-body pb-0 pr-0">
                    <div class="row">
                        <div *ngIf="!!activeIssue" class="col-12 pb-3">
                            <div class="text-left f-24 f-w-700">
                                {{activeIssue.projectCode + '-' + activeIssue.index}}
                            </div>
                        </div>
                        <div class="col-12 pb-3">
                            <div class="text-left f-22">
                                <p class="mb-0">{{ "Time spent" | lang}}:
                                    <span class="mb-0">{{ timerModel.hours | number: '2.0' }}:{{ timerModel.minutes |
                                        number: '2.0' }}:{{ timerModel.seconds | number: '2.0' }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 pb-2">
                            <div class="text-left f-22">
                                <p class="mb-0">{{ "Date begin" | lang}}:
                                    <span class="mb-0">{{ activeTimeTrack.dateBegin | formatDate}}</span>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <button *ngIf="activeTimeTrack.autoTrackStatus == AutoTrackTimeStatus.Stopped" type="button" class="btn btn-primary my-3" (click)="createIssue()">
                                {{'Continue'| lang}}
                            </button>
                        </div> -->
                        <div class="col-6">
                            <button *ngIf="activeTimeTrack.autoTrackStatus == AutoTrackTimeStatus.Stopped" type="button" class="btn btn-primary my-3" (click)="finishAutoTracking()">
                                {{'Save'| lang}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm px-3">
            <div class="text-left text-uppercase f-30 f-w-700 my-3">
                {{"All issues" | lang}}
            </div>
        </div>
        <div class="col-auto">
            <div class="btn-group my-3 me-2" role="group">
                <button type="button" class="btn" [ngClass]="isKanbanView ? 'btn-outline-primary' : 'btn-primary'"
                    (click)="setViewMode(false)">
                    {{'Table view' | lang}}
                </button>
                <button type="button" class="btn" [ngClass]="isKanbanView ? 'btn-primary' : 'btn-outline-primary'"
                    (click)="setViewMode(true)">
                    {{'Kanban view' | lang}}
                </button>
            </div>
            <button type="button" class="btn btn-primary my-3" (click)="createIssue()">
                {{'Create issue'| lang}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12" *ngIf="!!allIssues && allIssues.length > 0 && !isKanbanView">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{"Name" | lang}}</th>
                        <th scope="col">{{"Description" | lang}}</th>
                        <th scope="col">{{"Type" | lang}}</th>
                        <th scope="col">{{"Status" | lang}}</th>
                        <th scope="col">{{"Priority" | lang}}</th>
                        <th scope="col">{{"Author" | lang}}</th>
                        <th scope="col">{{"Assignee" | lang}}</th>
                        <th scope="col">{{"Time track" | lang}}</th>
                        <th scope="col">{{"Actions" | lang}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of allIssues let i = index">
                        <th scope="row">{{issue.projectCode + '-' + issue.index}}</th>
                        <td>{{issue.name}}</td>
                        <td>{{issue.description}}</td>
                        <td>{{'issueType.' + issue.type | lang}}</td>
                        <td>{{'issueStatus.' + issue.status | lang}}</td>
                        <td>{{'issuePriority.' + issue.priority | lang}}</td>
                        <td>{{issue.authorName}}</td>
                        <td>{{issue.assigneeName ?? ("Not set" | lang)}}</td>
                        <td>{{issue.timeTrack}}</td>
                        <td>
                            <a class="cursor-pointer">
                                <i class="fa fa-edit p-2" (click)="editIssue(issue)"></i>
                            </a>
                            <a class="cursor-pointer">
                                <i class="fa fa-calendar p-2" (click)="trackTime(issue.id)"></i>
                            </a>
                            <a class="cursor-pointer"
                                *ngIf="!activeTimeTrack && issue.assigneeId == getUser().id && issue.status == IssueStatus.InProgress">
                                <i class="fa fa-unlock p-2" (click)="startAutoTracking(issue.id)"></i>
                            </a>
                            <a class="cursor-pointer" *ngIf="!!activeTimeTrack && activeTimeTrack.issueId == issue.id 
                                && issue.assigneeId == getUser().id && issue.status == IssueStatus.InProgress && activeTimeTrack.autoTrackStatus == AutoTrackTimeStatus.Active">
                                <i class="fa fa-lock p-2" (click)="stopAutoTracking(issue.id)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" *ngIf="!!allIssues && allIssues.length > 0 && isKanbanView">
            <div class="kanban-board">
                <div class="kanban-column" *ngFor="let status of kanbanStatuses">
                    <div class="kanban-column-header">
                        <span>{{'issueStatus.' + status | lang}}</span>
                        <span class="badge bg-primary rounded-pill">{{getIssuesByStatus(status).length}}</span>
                    </div>

                    <div class="kanban-column-body">
                        <div cdkDropList [id]="getDropListId(status)" [cdkDropListData]="getIssuesByStatus(status)"
                            [cdkDropListConnectedTo]="kanbanDropListIds" (cdkDropListDropped)="onDrop($event, status)"
                            class="kanban-drop-zone">
                            <div class="kanban-card" *ngFor="let issue of getIssuesByStatus(status)" cdkDrag>
                            <div class="kanban-card-key">{{issue.projectCode + '-' + issue.index}}</div>
                            <div class="kanban-card-title">{{issue.name}}</div>
                            <div class="kanban-card-description">{{issue.description}}</div>
                            <div class="kanban-card-meta">
                                <div>{{"Type" | lang}}: {{'issueType.' + issue.type | lang}}</div>
                                <div>{{"Priority" | lang}}: {{'issuePriority.' + issue.priority | lang}}</div>
                                <div>{{"Assignee" | lang}}: {{issue.assigneeName ?? ("Not set" | lang)}}</div>
                                <div>{{"Time track" | lang}}: {{issue.timeTrack}}</div>
                            </div>

                            <div class="kanban-card-actions">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    [disabled]="!canMoveLeft(issue.status)" (click)="moveIssue(issue, -1)">
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    [disabled]="!canMoveRight(issue.status)" (click)="moveIssue(issue, 1)">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm" (click)="editIssue(issue)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm" (click)="trackTime(issue.id)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                                <button type="button" class="btn btn-outline-success btn-sm"
                                    *ngIf="!activeTimeTrack && issue.assigneeId == getUser().id && issue.status == IssueStatus.InProgress"
                                    (click)="startAutoTracking(issue.id)">
                                    <i class="fa fa-unlock"></i>
                                </button>
                                <button type="button" class="btn btn-outline-warning btn-sm" *ngIf="!!activeTimeTrack && activeTimeTrack.issueId == issue.id 
                                    && issue.assigneeId == getUser().id && issue.status == IssueStatus.InProgress && activeTimeTrack.autoTrackStatus == AutoTrackTimeStatus.Active"
                                    (click)="stopAutoTracking(issue.id)">
                                    <i class="fa fa-lock"></i>
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col px-3" *ngIf="!allIssues || allIssues.length == 0">
            <div class="card">
                <div class="card-body f-20 f-w-600" style="min-height: 260px; line-height: 200px; text-align: center;">
                    {{'This project does not have any issues yet' | lang}}
                </div>
            </div>
        </div>
    </div>
</div>